* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Palette';
  src: url("../public/Catamaran/Catamaran-SemiBold.ttf");
}

/*Global*/
/*plein ecran*/
/* navigation */
/* affichage contenu*/
/*grande tablette*/
/*navigation*/
/*affichage contenu*/
/*tablette*/
/*navigation*/
/*affichage contenu*/
/*grande mobile*/
/*navigation*/
/*affichage contenu*/
/* format ordi*/
.navigation {
  width: 20vw;
  margin: auto 2.5vw;
  height: 50vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: auto 2.5vw;
  height: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.item-menu {
  width: 100%;
  height: 5.55556vh;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.menu-option {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  width: 100%;
  height: 5.55556vh;
  border-radius: 10px;
}

.menu-option::before, .menu-option::after {
  content: '';
  position: absolute;
  z-index: -1;
  display: block;
  border-radius: 10px;
}

.menu-option::before {
  width: 100%;
  height: 2.77778vh;
  -webkit-box-shadow: 0px 0px 15px 3px grey;
          box-shadow: 0px 0px 15px 3px grey;
}

.menu-option::after {
  -webkit-box-shadow: 0px 0px 15px 3px black;
          box-shadow: 0px 0px 15px 3px black;
  width: 100%;
  height: 2.77778vh;
  bottom: 0px;
  margin: auto;
}

.menuRoll__left, .menuRoll__right {
  position: absolute;
  bottom: 2.08333vh;
  width: 3%;
  height: 1.38889vh;
  border: 1px #2d2d2d solid;
  border-radius: 6px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(#3d3d3d), color-stop(silver), color-stop(#3d3d3d), to(#000));
  background-image: linear-gradient(#000, #3d3d3d, silver, #3d3d3d, #000);
}

.menuRoll__left__top, .menuRoll__right__top {
  bottom: -1.85185vh;
}

.menuRoll__left__bottom, .menuRoll__right__bottom {
  top: -1.85185vh;
}

.menuRoll__right {
  left: 1px;
}

.menuRoll__left {
  right: 1px;
}

.halfCardMenu {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 2.77778vh;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  text-align: center;
  font-family: 'Palette';
  font-size: 4.16667vh;
  color: white;
}

.tophalf, .tophalf--selected, .tophalf__back, .tophalf__back--selected {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7d7d7d), color-stop(#4d4d4d), to(#0d0d0d));
  background-image: linear-gradient(#7d7d7d, #4d4d4d, #0d0d0d);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  /* for Safari */
  background-clip: padding-box;
  border-top: 2px #b2b2b2 solid;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.tophalf span, .tophalf--selected span, .tophalf__back span, .tophalf__back--selected span {
  position: absolute;
  left: 0;
  top: 1.38889vh;
  line-height: 2.77778vh;
  width: 100%;
  height: 2.77778vh;
}

.tophalf--selected, .tophalf__back--selected {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffda61), color-stop(#fcb620), to(#d49100));
  background-image: linear-gradient(#ffda61, #fcb620, #d49100);
}

.bottomhalf, .bottomhalf--selected, .bottomhalf__back, .bottomhalf__back--selected {
  top: 2.77778vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1d1d1d), color-stop(#3d3d3d), to(#0d0d0d));
  background-image: linear-gradient(#1d1d1d, #3d3d3d, #0d0d0d);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.bottomhalf span, .bottomhalf--selected span, .bottomhalf__back span, .bottomhalf__back--selected span {
  position: absolute;
  bottom: 1.21111vh;
  left: 0;
  width: 100%;
  height: 2.77778vh;
  line-height: 2.77778vh;
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

.bottomhalf--selected, .bottomhalf__back--selected {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc524), color-stop(#ffd359), to(#b97f00));
  background-image: linear-gradient(#ffc524, #ffd359, #b97f00);
}

.bottomhalf__back, .bottomhalf__back--selected {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

.item-menu {
  margin: .5vh auto;
  width: 100%;
  -webkit-transition: all .5ms linear;
  transition: all .5ms linear;
}

.menuOverlay {
  position: absolute;
  height: inherit;
  width: 100%;
}

.menuOverlay:hover {
  cursor: pointer;
}

.hover-menu {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bebebe), color-stop(#5f5f5f), to(#2c2c2c));
  background-image: linear-gradient(#bebebe, #5f5f5f, #2c2c2c);
}

.hover-menu__bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3f3f3f), color-stop(#6b6b6b), to(#000000));
  background-image: linear-gradient(#3f3f3f, #6b6b6b, #000000);
}

.activeMenu {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffda61), color-stop(#f6be45), to(#c38b11));
  background-image: linear-gradient(#ffda61, #f6be45, #c38b11);
}

.activeMenu__bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc524), color-stop(#ffd359), to(#b97f00));
  background-image: linear-gradient(#ffc524, #ffd359, #b97f00);
}

.activeMenuHover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fde9a8), color-stop(#f6dc67), to(#f0bc12));
  background-image: linear-gradient(#fde9a8, #f6dc67, #f0bc12);
}

.activeMenuHover__bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6be24), color-stop(#f6cd5c), to(#db9705));
  background-image: linear-gradient(#f6be24, #f6cd5c, #db9705);
}

/*Tablette Xgrand format */
@media screen and (max-width: 1025px) {
  .navigation {
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    height: 20vh;
  }
  .nav-menu {
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .item-menu {
    width: 45%;
  }
}

/*Tablette format */
@media screen and (max-width: 770px) {
  .navigation {
    margin: 15px auto 0;
    padding: 0 0 15px;
    height: 15vh;
  }
  .nav-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .item-menu {
    width: 32%;
  }
  .halfCardMenu {
    font-size: 3.23232vh;
  }
}

/*Tablette format */
@media screen and (max-width: 550px) {
  .navigation {
    height: 20vh;
  }
  .nav-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .item-menu {
    width: 80%;
  }
  .halfCardMenu {
    font-size: 4.24242vh;
  }
}

/*format ordinateur*/
.board {
  height: 80vh;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 2.5vw;
  overflow: hidden;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.board .sectionContent {
  position: relative;
  left: 0;
  width: 0;
  height: 0;
  max-height: 79vh;
  border: 1px solid #ffd359;
  background-color: #2c2c2c;
}

.flipperContainer {
  width: 4.93151vw;
  height: 10vh;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.flipCard {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  width: 4.93151vw;
  height: 10vh;
  border-radius: 10px;
}

.flipCard::before, .flipCard::after {
  content: '';
  position: absolute;
  z-index: -1;
  display: block;
  border-radius: 10px;
}

.flipCard::before {
  width: 4.93151vw;
  height: 5vh;
  -webkit-box-shadow: 0px 0px 15px 3px grey;
          box-shadow: 0px 0px 15px 3px grey;
}

.flipCard::after {
  -webkit-box-shadow: 0px 0px 15px 3px black;
          box-shadow: 0px 0px 15px 3px black;
  width: 100%;
  height: 5vh;
  bottom: 0px;
  margin: auto;
}

.rollRight, .rollLeft {
  position: absolute;
  bottom: 3.75vh;
  width: 10%;
  height: 2.5vh;
  border: 1px #2d2d2d solid;
  border-radius: 6px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(#3d3d3d), color-stop(silver), color-stop(#3d3d3d), to(#000));
  background-image: linear-gradient(#000, #3d3d3d, silver, #3d3d3d, #000);
}

.rollRight__top, .rollLeft__top {
  bottom: -3.33333vh;
}

.rollRight__bottom, .rollLeft__bottom {
  top: -3.33333vh;
}

.rollLeft {
  left: 1px;
}

.rollRight {
  right: 1px;
}

.halfCard {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 4.93151vw;
  height: 5vh;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  text-align: center;
  font-family: 'Palette';
  font-size: 7.5vh;
  color: white;
}

.topCard, .topCard--selected, .topCard__back, .topCard__back--selected {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7d7d7d), color-stop(#4d4d4d), to(#0d0d0d));
  background-image: linear-gradient(#7d7d7d, #4d4d4d, #0d0d0d);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  /* for Safari */
  background-clip: padding-box;
  border-top: 2px #b2b2b2 solid;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.topCard span, .topCard--selected span, .topCard__back span, .topCard__back--selected span {
  position: absolute;
  left: 0;
  top: 2.5vh;
  line-height: 5vh;
  width: 4.93151vw;
  height: 5vh;
}

.topCard--selected, .topCard__back--selected {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffda61), color-stop(#fcb620), to(#d49100));
  background-image: linear-gradient(#ffda61, #fcb620, #d49100);
}

.bottomCard, .bottomCard--selected, .bottomCard__back, .bottomCard__back--selected {
  top: 5vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1d1d1d), color-stop(#3d3d3d), to(#0d0d0d));
  background-image: linear-gradient(#1d1d1d, #3d3d3d, #0d0d0d);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.bottomCard span, .bottomCard--selected span, .bottomCard__back span, .bottomCard__back--selected span {
  position: absolute;
  bottom: 2.18vh;
  left: 0;
  width: 4.93151vw;
  height: 5vh;
  line-height: 5vh;
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

.bottomCard--selected, .bottomCard__back--selected {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc524), color-stop(#ffd359), to(#b97f00));
  background-image: linear-gradient(#ffc524, #ffd359, #b97f00);
}

.bottomCard__back, .bottomCard__back--selected {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

/*Tablette Xgrand format */
@media screen and (max-width: 1025px) {
  .board {
    height: 75vh;
    width: 98vw;
    margin: 0 auto;
    padding: 2vh 0;
  }
  .board .sectionContent {
    max-height: 71vh;
  }
  .flipperContainer {
    width: 6.0411vw;
    height: 6.81818vh;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  .flipCard {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: absolute;
    width: 6.0411vw;
    height: 6.81818vh;
    border-radius: 10px;
  }
  .flipCard::before, .flipCard::after {
    content: '';
    position: absolute;
    z-index: -1;
    display: block;
    border-radius: 10px;
  }
  .flipCard::before {
    width: 6.0411vw;
    height: 3.40909vh;
    -webkit-box-shadow: 0px 0px 15px 3px grey;
            box-shadow: 0px 0px 15px 3px grey;
  }
  .flipCard::after {
    -webkit-box-shadow: 0px 0px 15px 3px black;
            box-shadow: 0px 0px 15px 3px black;
    width: 100%;
    height: 3.40909vh;
    bottom: 0px;
    margin: auto;
  }
  .rollRight, .rollLeft {
    position: absolute;
    bottom: 2.55682vh;
    width: 10%;
    height: 1.70455vh;
    border: 1px #2d2d2d solid;
    border-radius: 6px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(#3d3d3d), color-stop(silver), color-stop(#3d3d3d), to(#000));
    background-image: linear-gradient(#000, #3d3d3d, silver, #3d3d3d, #000);
  }
  .rollRight__top, .rollLeft__top {
    bottom: -2.27273vh;
  }
  .rollRight__bottom, .rollLeft__bottom {
    top: -2.27273vh;
  }
  .rollLeft {
    left: 1px;
  }
  .rollRight {
    right: 1px;
  }
  .halfCard {
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 6.0411vw;
    height: 3.40909vh;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    overflow: hidden;
    text-align: center;
    font-family: 'Palette';
    font-size: 5.11364vh;
    color: white;
  }
  .topCard, .topCard--selected, .topCard__back, .topCard__back--selected {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7d7d7d), color-stop(#4d4d4d), to(#0d0d0d));
    background-image: linear-gradient(#7d7d7d, #4d4d4d, #0d0d0d);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    /* for Safari */
    background-clip: padding-box;
    border-top: 2px #b2b2b2 solid;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
  }
  .topCard span, .topCard--selected span, .topCard__back span, .topCard__back--selected span {
    position: absolute;
    left: 0;
    top: 1.70455vh;
    line-height: 3.40909vh;
    width: 6.0411vw;
    height: 3.40909vh;
  }
  .topCard--selected, .topCard__back--selected {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffda61), color-stop(#fcb620), to(#d49100));
    background-image: linear-gradient(#ffda61, #fcb620, #d49100);
  }
  .bottomCard, .bottomCard--selected, .bottomCard__back, .bottomCard__back--selected {
    top: 3.40909vh;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1d1d1d), color-stop(#3d3d3d), to(#0d0d0d));
    background-image: linear-gradient(#1d1d1d, #3d3d3d, #0d0d0d);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  .bottomCard span, .bottomCard--selected span, .bottomCard__back span, .bottomCard__back--selected span {
    position: absolute;
    bottom: 1.48636vh;
    left: 0;
    width: 6.0411vw;
    height: 3.40909vh;
    line-height: 3.40909vh;
    -webkit-transform-origin: top center;
            transform-origin: top center;
  }
  .bottomCard--selected, .bottomCard__back--selected {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc524), color-stop(#ffd359), to(#b97f00));
    background-image: linear-gradient(#ffc524, #ffd359, #b97f00);
  }
  .bottomCard__back, .bottomCard__back--selected {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
    -webkit-transform-origin: top center;
            transform-origin: top center;
  }
  .halfCard {
    font-size: 4.5vw;
  }
}

/*Tablette format */
@media screen and (max-width: 770px) {
  .board {
    height: 80vh;
    width: 98vw;
    margin: 0 auto;
    padding: 2vh 0;
  }
  .board .sectionContent {
    max-height: 76vh;
  }
  .flipperContainer {
    width: 6.0411vw;
    height: 6.36364vh;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  .flipCard {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: absolute;
    width: 6.0411vw;
    height: 6.36364vh;
    border-radius: 10px;
  }
  .flipCard::before, .flipCard::after {
    content: '';
    position: absolute;
    z-index: -1;
    display: block;
    border-radius: 10px;
  }
  .flipCard::before {
    width: 6.0411vw;
    height: 3.18182vh;
    -webkit-box-shadow: 0px 0px 15px 3px grey;
            box-shadow: 0px 0px 15px 3px grey;
  }
  .flipCard::after {
    -webkit-box-shadow: 0px 0px 15px 3px black;
            box-shadow: 0px 0px 15px 3px black;
    width: 100%;
    height: 3.18182vh;
    bottom: 0px;
    margin: auto;
  }
  .rollRight, .rollLeft {
    position: absolute;
    bottom: 2.38636vh;
    width: 10%;
    height: 1.59091vh;
    border: 1px #2d2d2d solid;
    border-radius: 6px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(#3d3d3d), color-stop(silver), color-stop(#3d3d3d), to(#000));
    background-image: linear-gradient(#000, #3d3d3d, silver, #3d3d3d, #000);
  }
  .rollRight__top, .rollLeft__top {
    bottom: -2.12121vh;
  }
  .rollRight__bottom, .rollLeft__bottom {
    top: -2.12121vh;
  }
  .rollLeft {
    left: 1px;
  }
  .rollRight {
    right: 1px;
  }
  .halfCard {
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 6.0411vw;
    height: 3.18182vh;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    overflow: hidden;
    text-align: center;
    font-family: 'Palette';
    font-size: 4.77273vh;
    color: white;
  }
  .topCard, .topCard--selected, .topCard__back, .topCard__back--selected {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7d7d7d), color-stop(#4d4d4d), to(#0d0d0d));
    background-image: linear-gradient(#7d7d7d, #4d4d4d, #0d0d0d);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    /* for Safari */
    background-clip: padding-box;
    border-top: 2px #b2b2b2 solid;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
  }
  .topCard span, .topCard--selected span, .topCard__back span, .topCard__back--selected span {
    position: absolute;
    left: 0;
    top: 1.59091vh;
    line-height: 3.18182vh;
    width: 6.0411vw;
    height: 3.18182vh;
  }
  .topCard--selected, .topCard__back--selected {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffda61), color-stop(#fcb620), to(#d49100));
    background-image: linear-gradient(#ffda61, #fcb620, #d49100);
  }
  .bottomCard, .bottomCard--selected, .bottomCard__back, .bottomCard__back--selected {
    top: 3.18182vh;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1d1d1d), color-stop(#3d3d3d), to(#0d0d0d));
    background-image: linear-gradient(#1d1d1d, #3d3d3d, #0d0d0d);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  .bottomCard span, .bottomCard--selected span, .bottomCard__back span, .bottomCard__back--selected span {
    position: absolute;
    bottom: 1.38727vh;
    left: 0;
    width: 6.0411vw;
    height: 3.18182vh;
    line-height: 3.18182vh;
    -webkit-transform-origin: top center;
            transform-origin: top center;
  }
  .bottomCard--selected, .bottomCard__back--selected {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc524), color-stop(#ffd359), to(#b97f00));
    background-image: linear-gradient(#ffc524, #ffd359, #b97f00);
  }
  .bottomCard__back, .bottomCard__back--selected {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
    -webkit-transform-origin: top center;
            transform-origin: top center;
  }
  .halfCard {
    font-size: 6vw;
  }
}

@media screen and (max-width: 550px) {
  .board {
    height: 70vh;
    width: 98vw;
    margin: 0 auto;
    padding: 2vh 0;
  }
  .board .sectionContent {
    max-height: 66vh;
  }
  .flipperContainer {
    display: none;
  }
}

/** Affichage de base**/
/** ordinateur **/
body {
  background-color: #4D4D4D;
}

main {
  background-color: #4D4D4D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 95vh;
  width: 100%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5vh;
  width: 100%;
}

footer div {
  width: 4vh;
  height: 4vh;
  margin: 0 10px;
  border-radius: 50%;
  text-align: center;
  font-size: 2.5vh;
  background-color: #1d1d1d;
}

footer div:hover {
  cursor: pointer;
}

footer div i {
  color: lightgrey;
  position: relative;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  top: 0.75vh;
}

/*mobile a Tablette Xgrand format */
@media screen and (max-width: 1025px) {
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  footer {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */