

@mixin sousTitreSection($section-name,$section-header){
  .#{$section-name}{
    margin-top: 50px;
    width: 100%;
    height:auto;
    .#{$section-header}{
      text-align: center;
      font-size: 1.6em;
    }
  }
}

