@keyframes gradient{

  0%{
    background-position: 0% 50%;
    color:$white;
  }
  25%{
    background-position: 100% 100%;
    color:$black;
  }
  50%{
    background-position: 100% 50%;
    color:$white;
  }
  75%{
    background-position: 100% 100%;
    color:$black;
  }
  100%{
    background-position: 0% 50%;
    color:$white;
  }

}