
.hero{
  background-image:url(https://placekitten.com/1900/470);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height:$banner-height;
  .hero__content{
    width:100%;
    height:inherit;
    display:flex;
    flex-flow:column wrap;
    justify-content:center;
    align-content:center;
    .hero__title{
      color: $header-green;
      text-align:center;
      margin:0;
      &:before{
        background:none;
        content:"";
        display:none;
      }
    }
    .titleAnim{
      background-color: $white;
      height:2px;
      width:2px;
      display:none;

    }
    .hero__text{
      text-align:center;
      font-size:1.2em;
      color: $white;
      font-weight:600;
      background-color: rgba($black, .4);
      padding-right:15px;
      padding-left:15px;
    }
    .hero__cta{
      margin:0 auto;
      max-width:250px;
    }
  }
}

.recapHeader{
  text-align: center;
  font-size: 1.6em;
}
