
@include sousTitreSection(eventsSection,eventsTitle);

.eventsPreview{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.event-card{

  &,&-main{
    box-shadow:  0px 8px 10px 5px $light-grey;
    box-sizing: border-box;
    height: fit-content;
    min-height:400px;
    margin: 15px;
    object-fit: contain;
    width: $card-width;
    flex:0 0 30%;
    display:flex;
    flex-flow:column nowrap;

  }
  &-main{
    flex:0 0 45%;
  }
}
.eventTitleContainer {
  &, &-main {
    background: $card-title-bg-color;
    width: 100%;
    flex: 1 0 20%;

    .eventTitle {
      color: $white;
      font-size: 1.2em;
      line-height: 1.2em;
      margin: 0;
      margin-left: 10px;
      padding-left: 5px;
    }
  }
}

.event-glance {
    display: flex;
    width: 100%;
    flex:1 1 40%;
}

.host{
  flex: 0 1 50%;
  text-align: center;
  box-sizing: border-box;
  object-fit: contain;
  padding: 0 6.25%;
  &__title{
    margin: 0;
  }
  &-visual{
    width: 100px;height: 100px;
    object-fit: contain;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
    &__image{
      object-fit:  cover;
      height: 100%;
    }
  }
  &__name{
    margin: 10px 0 0;
  }
}

.info{
  flex: 1 1 50%;
  &-date{
    text-align: center;
    &__title, &__date{
      margin: 0;
    }
  }
  &-duration{
    text-align: center;
    &__title, &__time{
      margin: 0;
    }
  }
}

.event-CTA{
    flex:1 1 40%;
    margin-top: $card-height * 0.05;
    text-align: center;
    width: 100%;
  &__legend{
    display: inline;
    font-size: 1em;
    max-height: 2em;
    width: 90%;
  }
  &__button{
    display: block;

    margin: auto ;
    margin-bottom:10px;
  }
}

@media screen and (max-width:950px) {
  .event-card, .event-card-main {
    flex: 0 0 45%;
  }
}

@media screen and (max-width:767px) {
  .event-card, .event-card-main {
    flex: 0 0 80%;
  }
}
