
.siteLogo{
  width: $nav-height;
  height: $nav-height;
  @media screen and (max-width:1100px){
    display:none;
  }
}
.menu-menu-principal-container{width:100%;}
.menu{
  position: absolute;
  z-index: 5;
  background-color: $black-alpha-down;
  color: $white;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;

  .menu-navigation{
    margin: 0;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    height: $nav-height;
    width: 100%;
    padding:0;
    li{
      height: inherit;
      text-align: center;
      margin: 0;
      padding: 0 10px;
      flex: 1 0 auto;
      background-color: transparent;
      transition: background-color 500ms linear;
      &:hover{
        background-color: $black;
      }
      a{
        display: inline-block;
        vertical-align: bottom;
        line-height: 100px;
        bottom: 0px;
        margin: 0 ;
        width: 100%;
        text-align: center;
        height: inherit;
        text-decoration: none;
        color: $white;
        border:0px transparent solid;
        transition: border 250ms linear;
        &:hover{
          border-bottom:4px $white solid;
        }
        &:focus{
          outline: 0px;
        }
      }
    }
  }
  label[for="burger"]{
    display: none;
    font-size: 40px;
    padding: 5px 0 5px 10px;
    cursor: pointer;
  }

  #burger{
    display: none;
  }

  #burger:checked ~ .menu-menu-principal-container> .menu-navigation {
    display: flex;
    flex-flow: row wrap;
    .menu-item{
      display: block;
      width: 100%;
      background-color: rgba(0,0,0, 0.8);
    }
  }
}

@media screen and (max-width:719px){
  .menu {
    .menu-navigation{
      display:none;
      padding-left:15px;
    }
    label[for="burger"]{
      display: block;
    }
  }
}

@media screen and (min-width:720px) and (max-width:975px){
  .menu .menu-navigation{
    flex-flow:row wrap;
    height: $s-nav-height;
    li{
      flex:0 0 20%;
      height:$s-nav-item-height;
      a{
        line-height:unset;
      }
    }
  }
}