@include sousTitreSection(newsSection,recapHeader);

.recapContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: auto;
  width: 90%;
}

.newsMain{
  display: flex;
  flex-flow: row wrap;
  .recap{
    flex:0 0 45%;
  }
}

.recap{
    display: flex;
    flex: 0 0 33%;
    flex-flow: column nowrap;
    height: fit-content;
    margin: 0 10px;

    .recapDetails{
      box-sizing: border-box;
      flex: 0 0 50%;
      margin-left: 10px;
      .recapTitle{
        border-left: 5px solid $author-green-highlight;
        box-sizing:border-box;
        font-size: 1.4em;
        line-height: 1.4em;

        margin: 0;
        text-align: left;
      }
      .recapAuteur{
        border-left: 5px solid $author-green-highlight;
        display: inline;
      }
      .recapDate {
        color: $blue-dates;
        border-bottom: 2px solid $date-blue-highlight;
        font-size: .9em;
        margin-left: 30px;
        width: 50px;
      }
    }
    .recapText{
      flex: 0 0 45%;
      margin: 0 10px;
      text-align: left;
    }
    .newsLink{
      display: inline-block;
      flex: 0 0 10%;
      text-align: center;
      color:$blue-links;
      width:25%;
      margin-left:75%;
      &:focus{
        outline:0px;
        color:$black;
      }
    }
  }

.recapContainer .recap:nth-child(2){
  @media screen and(min-width:771px){
    border-left: 3px $light-grey solid;
    border-right: 3px $light-grey solid;
  }
  @media screen and(max-width:770px){
    border-top: 3px $light-grey solid;
    border-bottom: 3px $light-grey solid;
  }

  .newsLink{
    margin-right:10px;
  }
}
@media screen and (max-width: 770px){
  .recapContainer, .newsMain{
    flex-flow:row wrap;
  .recap{
    flex:0 0 90%;
  }
  }
}

